* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './variables';
@import './common';
@import './pages/header';

html, body {
    font-family: 'PN', Arial, Helvetica, sans-serif;
}